:root {
}

* {
}

img {
    height: 100%;
}

.pages {
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.white_page {
    background-color: #FDFDFF;
}

.red_page {
    background-color: #FD0101;
}

.font_color_red {
    color: #FD0101;
}

.font_color_white {
    color: #FDFDFF;
}

.font_color_black {
    color: black;
}

.sinkin {
}

.gobold {
}

.gobold_b {
}

.gobold_tl {
}

.regular_text {
    font-size: 200%;
    font-weight: 400;
}


/*First Page*/
.main_page {
    padding-bottom: 4.4%;
    padding-left: 4.6%;
    padding-right: 5.8%;
    justify-content: space-between;
    align-items: end;
}

.title {
    width: 60%;
}

.main_page h1 {
    margin: 0;
    line-height: 85%;
    font-size: 6.2rem;
    font-weight: 400;

}

.subtitle_main_page {
    font-size: 4rem;
    font-weight: 400;
}

#title_image {
    height: 7.5%;
    animation-name: move_down;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes move_down {
    0%, 20%, 100% {
        transform: translate(0, 0);
    }
    52%, 68% {
        transform: translate(0, 10px);
    }
    60% {
        transform: translate(0, 8px);
    }

}

/*Second Page*/

.introduction_page {
    padding: 2% 4% 2% 5%;
    position: relative;

}

.plot_chart_container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.introduction_page h3 {
    top: 80%;
    position: absolute;
    letter-spacing: -1.5px;
    font-size: 220%;
    font-weight: 450;
}

.year_range_plot_chart {
    font-size: 130%;
}

.introduction_page_texts {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    width: 40%;
}

.introduction_page_title {
    font-size: 300%;
    font-weight: 600;
    margin: 0;
}

.introduction_page_texts .sinkin {
    margin-left: 25%;
}

/*Third Page*/

.global_ind_page {
    padding: 2% 3% 5% 6%;
}

.ind_page_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ind_page_text .gobold {
    letter-spacing: -5.2px;
    margin: 0;
    font-size: 530%;
    font-weight: 800;
}

.ind_page_text .sinkin {
    margin-left: 7%;
    margin-right: 15%;
    margin-top: 20%;
}

.ind_page_chart {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#animated_line_chart_indicators {
    width: 800px;
    height: 650px;
}

.ind_page_chart .gobold {
    letter-spacing: -4.2px;
    margin: 0;
    font-size: 440%;
    font-weight: 700;
}

/*Div Charts*/
#bubbleChartSvg {
    width: 980px;
    max-width: 100%;
    height: auto;
}

#world_map_chart {
    width: 600px;
    height: 400px;
}


#animated_line_chart_continents {
    width: 650px;
    height: 450px;
}